
<div class="{% cycle "padding-right", "padding-left" %} {% cycle "col-lg-6", "col-lg-6" %} {% cycle "padding-top-0", "padding-top-1" %}">
	<div class="single_musings index"  data-appear data-animate="allin">
		<div data-animation="fadeInUp">
			<a href="/{{ data.collaborations_row_link[0].type }}/{{ data.collaborations_row_link[0].value }}"><img src="{% include 'img_url' with url: data.collaborations_row_image[0].url, params: '1000x' %}" class=""/></a>
			<h3><a href="/{{ data.collaborations_row_link[0].type }}/{{ data.collaborations_row_link[0].value }}">{{ data.collaborations_row_title }} <span>— {{ data.collaborations_row_title2 }}</span></a></h3>
		</div>
	</div>
</div>

