<!-- Footer -->
<footer id="footer">

  <!-- Module - Copyright -->
  <div class="module module-copyright">© VINGT QUATRE 2020</div>

  <!-- Module - Navigation -->
  <nav class="module module-navigation">
    <ul class="nav nav-footer">
	    {% for link in linklists[section.settings.footer_menu].links %}  
	    {% if link.links != blank %}
        <li class="has-children">
          <a href="#">{{ link.title }}</a>
          <div class="megamenu">
	          <div class="row">
			  {% for childlink in link.links %}
	          	<div class="col-md-4">
		          	{% if childlink.links != blank %}
		          	<h6><a href="{{ childlink.url }}">{{ childlink.title }}</a></h6>
		          		<ul>
			          	{% for childlink2 in childlink.links %}
			          		<li><a href="{{ childlink2.url }}">{{ childlink2.title }}</a></li>
			          	{% endfor %}
		          		</ul>
		          	{% endif %}
	          	</div>
			  	{% endfor %}
	          </div>
           </div>
        </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
        {% endfor %}
    </ul>
  </nav>

  <!-- Module - Newsletter -->
  <div class="module module-newsletter">
    <form action="#">
      <input type="email" class="form-control form-control-sm" placeholder="Enter Email Address">
      <button class="btn btn-link btn-sm">Subscribe</button>
    </form>
  </div>

  <!-- Module - Social -->
  <div class="module module-social">
    <ul class="social-media">
      <li><a href="#"><i class="i i-pinterest"></i></a></li>
      <li><a href="#"><i class="i i-instagram"></i></a></li>
      <li><a href="#"><i class="i i-facebook"></i></a></li>
    </ul>
  </div>

</footer>
<!-- Footer / End -->



{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "Menu footer"
      }
    ]
  }

{% endschema %}
